<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pushups468.pushups" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hands'way 468</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <preference name="loglevel" value="DEBUG" />
    <preference name="AllowNewWindows" value="false" />
    <preference name="MediaPlaybackAllowsAirPlay" value="true" />
    <preference name="LimitsNavigationsToAppBoundDomains" value="false" />
    <preference name="InspectableWebview" value="true" />
    <preference name="AllowBackForwardNavigationGestures" value="false" />
    <preference name="Allow3DTouchLinkPreview" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />


    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
