@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body, html {
    height: 100%;
    margin: 0;
    background: url('audio/RUMEUR2.jpg') no-repeat center center fixed;
    background-size: contain; /* Modification ici pour afficher l'image en entier */
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
}

.control-group, .video-container, .time-selector, .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    margin-top: 20px;
}

select, input[type="number"], button {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

select:focus, input[type="number"]:focus, button:focus {
    outline: none;
}

.video-description, .audio-description {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    font-size: 1rem;
    margin: 20px auto;
}

@media (max-width: 768px) {
    select, input[type="number"], button, .video-description, .audio-description {
        width: 95%;
        font-size: 0.9rem;
    }
}

.video-container, video, .blink, .video-description, .audio-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

video, .blink, .video-description, .audio-description {
    width: 100%;
    margin: 20px auto;
}

.digital-display {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 2.5rem;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    width: auto;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .digital-display {
        font-size: 2rem;
        padding: 15px 30px;
    }
}

@keyframes blink-animation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

.blink {
    animation: blink-animation 1s linear infinite;
}

.action-button, .return-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: auto;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.2s;
}

.action-button:hover, .return-button:hover {
    background-color: #369636;
    transform: scale(1.05);
}

.return-button {
    background-color: #ff4444;
}

.return-button:hover {
    background-color: #cc0000;
    transform: scale(0.95);
}

.loading-indicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@keyframes flashYellow {
    0%, 100% { background-color: transparent; }
    50% { background-color: yellow; }
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#tapisImage {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
}


.text-description {
    background-color: rgba(0, 0, 0, 0.7); /* Fond sombre semi-transparent */
    color: #ffffff; /* Texte blanc */
    padding: 10px; /* Espacement interne */
    border-radius: 5px; /* Bords arrondis */
    text-align: center; /* Centrage du texte */
    width: 90%; /* Largeur du conteneur */
    font-size: 1rem; /* Taille de police */
    margin: 20px auto; /* Espacement vertical et centrage horizontal */
}

@media (max-width: 768px) {
    .text-description {
        width: 95%; /* Ajustement de la largeur pour les petits écrans */
        font-size: 0.9rem; /* Taille de police légèrement réduite */
    }
}

@keyframes flashOrangeLight {
    0%, 100% { background-color: transparent; }
    50% { background-color: #FFA500; } /* Orange clair */
}

#programSelect,
#nextButton,
#nextButton2,
#timeSelector,
#timeDurationSelector,
#startTimerButton,
#pompesSelectorContainer,
#pompesSelector {
    animation: flashOrangeLight 1s linear infinite;
}

/* Changement de couleur pour le titre */
.homepage-title {
    color: red;
}

/* Ajout des images supplémentaires */
.additional-image {
    position: absolute;
    max-width: 200px; /* Taille maximale de l'image */
    opacity: 0.5; /* Transparence pour éviter de surcharger visuellement */
}

.image-top-left {
    top: 10px;
    left: 10px;
}

.image-top-right {
    top: 10px;
    right: 10px;
}

.image-bottom-left {
    bottom: 10px;
    left: 10px;
}

.image-bottom-right {
    bottom: 10px;
    right: 10px;
}
